doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv="Cache-control" content="private")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css')
    link(href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    script(src='/javascripts/product.js')
    script(src='/javascripts/core.js')
  body
    block content

    footer(class="page-footer")
          div(class="container")
            div(class="row")
              div(class="col l3 s12")
                h5(class="white-text") Contact
                p(class="grey-text text-lighten-4") Phone: +254 721 000 000
                p(class="grey-text text-lighten-4") Email: sample@gmail.com
                p(class="grey-text text-lighten-4") Location: Tom Mboya, Nairobi Kenya
              div(class="col l3 s12")
                h5(class="white-text") Support
                a(style="color:white;") Terms & Conditions
                br
                a(style="color:white;") Help
              div(class="col l3 s12")
                h5(class="white-text") About
                a(style="color:white;") BizYangu
              div(class="col l3 s12")
                h5(class="white-text") Be in the know
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button(class="waves-effect waves-light btn") open
          div(class="footer-copyright")
            div(class="container center") © 2018 BizYangu
