extends layout

block content
  h1 #{title}: #{product.product_name}
  p= product.lifespan
  
  p Do you really want to delete this product?
    form(method='POST' action='')
      div.form-group
        input#productid.form-control(type='hidden',name='productid', required='true', value=product._id )

      button.btn.btn-primary(type='submit') Delete