@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Oxygen-Regular';
    src: url(../fonts/Oxygen-Regular.ttf) format('truetype');
}

.rw-wrapper {
    position: relative;
    padding: 13em 0 0;
}

.rw-sentence {
    margin: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.0001);
    font-size: 30px;
    color: white;
}

.rw-sentence span {
    color: white;
    white-space: nowrap;
    text-transform: uppercase;
}

.rw-sentence>span:first-child {
    display: block;
    text-indent: 5px;
    font-size: 3em;
    /* font-family: 'Ubuntu-Regular'; */
}

/*--responsive--*/
@media(max-width: 1280px) {
    .rw-sentence>span:first-child {
        font-size: 2.6em;
    }

    .rw-words-2 span {
        font-size: 1.7em;
    }
}

@media(max-width: 1024px) {
    .rw-wrapper {
        padding: 7em 0 0;
    }

    .rw-sentence>span:first-child {
        font-size: 2.3em;
    }
}

@media(max-width:768px) {
    .rw-sentence>span:first-child {
        font-size: 1.8em;
    }

    .rw-words-1 span {
        font-size: 1em;
    }

    .rw-words-2 span {
        font-size: 1.3em;
    }
}

@media(max-width:640px) {
    .rw-sentence {
        font-size: 25px;
    }

    .rw-words {
        height: 63px;
    }

    .rw-wrapper {
        padding: 8em 0 0;
    }
}

@media(max-width: 480px) {
    .rw-wrapper {
        padding: 6em 0 0;
    }

    .rw-sentence {
        font-size: 23px;
    }
}

@media screen and (max-width: 320px) {
    .rw-sentence {
        font-size: 13px;
    }

    .rw-words {
        height: 41px;
    }

    .rw-wrapper {
        padding: 4.5em 0 0;
    }
}
